.section > h3
{
	margin-top: 2.5em;
	margin-bottom:1.5em;
	border-bottom:1px solid;
    font-size:1.3em;
	padding-left:1em;
}

.section .folded 
{
    display: none;
}

.section .unfolded 
{
    display: block;
}

.subsection > h4
{
	margin-top: 1.75em;
    font-size:1.15em;
}