#Header {
  border-bottom: 1px solid #c5c8cb;
  padding: 0.5em 0 0.5em 0;
}

#Header > #show-hide {
  position: absolute;
  top: 1.3em;
  left: 1.3em;
}

#Header > h1 {
  color: inherit;
  display: inline-block;
  padding: 0 0 0 4.0em;
}

#Header > h1 > .title {
  color: inherit;
  text-decoration: none;
  font-size: 2em;
  line-height: 1.5;
}

#Header > h1 > .tagline {
  color: inherit;
  text-decoration: none;
  font-size: 1.5em;
}