.doctran-menu {
  width: 20em;
  border-right: 1px solid gray;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #383d43;
}
.doctran-menu > .vspacer {
  height: 2em;
}
