.doctran-menu {
    font-family: sans-serif;
    font-size: 1.05em;
    color: #a6a6a6;
    background-color: #393843;
    overflow: auto;
}
.doctran-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 1em;
}
.doctran-menu ul li > .active {
    background-color: #515861;
}
.doctran-menu ul li > .active:hover {
    background-color: #515861;
}
.doctran-menu ul li > .title,
.doctran-menu ul li > a {
    color: #a6a6a6;
    display: block;
    line-height: 1.6;
    padding-left: 0.3em;
}
.doctran-menu ul li > .title {
    cursor: default;
    font-style: italic;
}
.doctran-menu ul li > a {
    text-decoration: none;
}
.doctran-menu ul li > a:hover {
    color: #a6a6a6;
    background-color: #454451;
    cursor: hand;
    cursor: pointer;
}
.doctran-menu ul li > a:visited {
    color: #a6a6a6;
}
.doctran-menu ul li.sublist {
    margin-left: 0;
}
.doctran-menu ul li.sublist > span,
.doctran-menu ul li.sublist > a {
    display: block;
    cursor: default;
    font-style: italic;
    font-size: 0.75em;
    text-decoration: underline;
    margin: 0;
    padding: 0.5em 0 0.2em 0.42em;
}
.doctran-menu ul li.sublist > ul {
    margin-left: 0;
    padding-left: 0;
}
.doctran-menu > ul {
    padding-left: 0.5em;
}
.jsEnabled.doctran-menu form {
    margin: 1em 5%;
    text-align: center;
}
.jsEnabled.doctran-menu form > input {
    color: #a6a6a6;
    background: #464b53 url(img/search.png) no-repeat 0.5em 0.5em;
    background-image: url("img/search.svg"), none;
    padding: 0.5em 0 0.5em 0;
    text-indent: 2.25em;
    border: 1px solid #a6a6a6;
    width: 100%;
}
.jsEnabled.doctran-menu form > input.active {
    background-color: #515861;
}
.jsEnabled.doctran-menu form > input:hover {
    background-color: #515861;
}
.jsEnabled.doctran-menu ul > li.targeted {
    background-color: #393843;
}
.jsEnabled.doctran-menu ul > li.hover > a,
.jsEnabled.doctran-menu ul > li.focused > a,
.jsEnabled.doctran-menu ul > li.hover > span,
.jsEnabled.doctran-menu ul > li.focused > span {
    background-color: #454451;
}
.jsEnabled.doctran-menu ul > li.active > a {
    background-color: #515861;
}
.jsEnabled.doctran-menu ul > li > a,
.jsEnabled.doctran-menu ul > li > span {
    padding-left: 1.4em;
}
.jsEnabled.doctran-menu ul > li > .expander {
    margin: 0;
    padding: 0;
    cursor: hand;
    cursor: pointer;
    float: left;
    text-align: center;
    width: 0.98887515em;
    line-height: 1.6;
}
.jsEnabled.doctran-menu ul > li > .expander > a {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI Symbol", "Lucida Sans Unicode", "Dotum", "Liberation Sans", "Liberation Serif", "sans-serif";
    color: #a6a6a6;
    font-size: 0.65em;
}
.jsEnabled.doctran-menu ul > li > .expander:hover {
    background-color: #484755;
}
.jsEnabled.doctran-menu ul > li.sublist {
    margin-left: 0em;
}
.jsEnabled.doctran-menu ul > li.sublist > ul {
    margin-left: 0;
}
.jsEnabled.doctran-menu > .searchResults li {
    margin-bottom: 0.5em;
}
.jsEnabled.doctran-menu > .searchResults li > a > .resultInfo {
    font-size: 0.8em;
    font-style: italic;
}
.doctran-menu {
    background: linear-gradient(#383d43, #3f3843);
}
.doctran-menu > ul li > a,
.doctran-menu > ul li > span {
    text-shadow: 1px 0 0 #000;
    -webkit-border-top-left-radius: 0.2em;
    -webkit-border-bottom-left-radius: 0.2em;
    -moz-border-radius-topleft: 0.2em;
    -moz-border-radius-bottomleft: 0.2em;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}
.jsEnabled.doctran-menu > form > input {
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}
.jsEnabled.doctran-menu ul > li.targeted {
    background: #393843;
}
.doctran-menu-show-hide-img {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-repeat: no-repeat;
    cursor: hand;
    cursor: pointer;
}
.doctran-menu-show-hide-img.show {
    background: url("img/show.png");
    background-image: url("img/show.svg"), none;
}
.doctran-menu-show-hide-img.hide {
    background: url("img/hide.png");
    background-image: url("img/hide.svg"), none;
}