.block() {
	color: black;
	background-color: #C8CCDE;
}

.active() {
	font-weight: bold;
	color:black;
	background-color:#C8CCDE;
}

.highlight() {
	color:black;
	background-color: #B1B5C6;
}

.background1() {
	background-color: #E7E7E7;
}

.background2() {
	background-color: #EFEFEF;
}

.menuheading() {
	color: black;
}

.menulink() {
	color: #000BA0;
}

.blocklink() {
	color: black;
	background-color: #EFEFEF;
}
	
@border: grey;