#Page > .mainContainer > #Article .highlight {
  overflow-x: auto;
}
#Page > .mainContainer > #Article .highlight pre,
#Page > .mainContainer > #Article .highlight code,
#Page > .mainContainer > #Article .highlight table,
#Page > .mainContainer > #Article .highlight tbody,
#Page > .mainContainer > #Article .highlight tr,
#Page > .mainContainer > #Article .highlight td {
  margin: 0;
  padding: 0;
  border: 0;
}
#Page > .mainContainer > #Article .highlight pre {
  line-height: 1.4;
  font-size: 1.05em;
}
#Page > .mainContainer > #Article .highlight code {
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  display: table;
  min-width: 150em;
}
#Page > .mainContainer > #Article .highlight .odd {
  background-color: white;
}
#Page > .mainContainer > #Article .highlight .even {
  background-color: #f6f6f6;
}
#Page > .mainContainer > #Article .highlight div {
  padding: 0 0.5em 0 1em;
}
#Page > .mainContainer > #Article .highlight .gutter {
  color: #181818;
  border-right: 3px solid #6ce26c;
  text-align: right;
}
#Page > .mainContainer > #Article .highlight .plainText {
  background-color: White;
  color: Black;
}
#Page > .mainContainer > #Article .highlight .htmlServerSideScript {
  background-color: Yellow;
}
#Page > .mainContainer > #Article .highlight .htmlComment {
  color: Green;
}
#Page > .mainContainer > #Article .highlight .htmlTagDelimiter {
  color: Blue;
}
#Page > .mainContainer > #Article .highlight .htmlElementName {
  color: #a31515;
}
#Page > .mainContainer > #Article .highlight .htmlAttributeName {
  color: Red;
}
#Page > .mainContainer > #Article .highlight .htmlAttributeValue {
  color: Blue;
}
#Page > .mainContainer > #Article .highlight .htmlOperator {
  color: Blue;
}
#Page > .mainContainer > #Article .highlight .comment {
  color: Gray;
}
#Page > .mainContainer > #Article .highlight .xmlDocTag {
  color: Gray;
}
#Page > .mainContainer > #Article .highlight .xmlDocComment {
  color: Green;
}
#Page > .mainContainer > #Article .highlight .string {
  color: #a31515;
}
#Page > .mainContainer > #Article .highlight .stringCSharpVerbatim {
  color: #a31515;
}
#Page > .mainContainer > #Article .highlight .keyword {
  color: Blue;
}
#Page > .mainContainer > #Article .highlight .preprocessorKeyword {
  color: Blue;
}
#Page > .mainContainer > #Article .highlight .htmlEntity {
  color: Red;
}
#Page > .mainContainer > #Article .highlight .xmlAttribute {
  color: Red;
}
#Page > .mainContainer > #Article .highlight .xmlAttributeQuotes {
  color: Black;
}
#Page > .mainContainer > #Article .highlight .xmlAttributeValue {
  color: Blue;
}
#Page > .mainContainer > #Article .highlight .xmlCDataSection {
  color: Gray;
}
#Page > .mainContainer > #Article .highlight .xmlComment {
  color: Green;
}
#Page > .mainContainer > #Article .highlight .xmlDelimiter {
  color: Blue;
}
#Page > .mainContainer > #Article .highlight .xmlName {
  color: #a31515;
}
#Page > .mainContainer > #Article .highlight .className {
  color: MediumTurquoise;
}
#Page > .mainContainer > #Article .highlight .cssSelector {
  color: #a31515;
}
#Page > .mainContainer > #Article .highlight .cssPropertyName {
  color: Red;
}
#Page > .mainContainer > #Article .highlight .cssPropertyValue {
  color: Blue;
}
#Page > .mainContainer > #Article .highlight .sqlSystemFunction {
  color: Magenta;
}
#Page > .mainContainer > #Article .highlight .powershellAttribute {
  color: PowderBlue;
}
#Page > .mainContainer > #Article .highlight .powershellOperator {
  color: Gray;
}
#Page > .mainContainer > #Article .highlight .powershellType {
  color: Teal;
}
#Page > .mainContainer > #Article .highlight .powershellVariable {
  color: OrangeRed;
}
#Page > .mainContainer > #Article .highlight .type {
  color: Teal;
}
#Page > .mainContainer > #Article .highlight .typeVariable {
  color: DarkSlateGray;
  font-style: italic;
}
#Page > .mainContainer > #Article .highlight .namespace {
  color: Navy;
}
#Page > .mainContainer > #Article .highlight .constructor {
  color: Purple;
}
#Page > .mainContainer > #Article .highlight .predefined {
  color: Navy;
}
#Page > .mainContainer > #Article .highlight .pseudoKeyword {
  color: Navy;
}
#Page > .mainContainer > #Article .highlight .stringEscape {
  color: Gray;
}
#Page > .mainContainer > #Article .highlight .controlKeyword {
  color: Blue;
}
#Page > .mainContainer > #Article .highlight .number {
  color: DarkSlateGray;
}
#Page > .mainContainer > #Article .highlight .operator {
  color: DarkRed;
}
#Page > .mainContainer > #Article .highlight .markdownHeader {
  font-weight: bold;
}
#Page > .mainContainer > #Article .highlight .markdownCode {
  color: Teal;
}
#Page > .mainContainer > #Article .highlight .markdownListItem {
  font-weight: bold;
}
#Page > .mainContainer > #Article .highlight .italic {
  font-style: italic;
}
#Page > .mainContainer > #Article .highlight .bold {
  font-weight: bold;
}
#Page > .mainContainer > #Article .highlight .builtinFunction {
  font-weight: bold;
  color: DarkGreen;
}
#Page > .mainContainer > #Article .highlight .builtinValue {
  color: DarkGreen;
  font-style: italic;
}
#Page > .mainContainer > #Article .highlight .attribute {
  color: DarkSlateBlue;
}
#Page > .mainContainer > #Article .highlight .specialChar {
  font-weight: bold;
  color: Tomato;
}
