#CallSyntax h3 {
  font-size: 1.2em;
  padding: 0.25em;
  font-weight: bold;
}
#CallSyntax h3 {
  font-size: 1.2em;
  padding: 0.25em;
  font-weight: bold;
  margin: 0 !important;
}
.jsEnabled #CallSyntax h3 {
  font-size: 1.1em;
  padding: 0.2em 2em;
  margin: 1px 4em;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.jsEnabled #CallSyntax h3:hover {
  color: #404853;
  background-color: #b1b5c6;
  cursor: hand;
  cursor: pointer;
}
.jsEnabled #CallSyntax h3.active {
  color: #404853;
  background-color: #c8ccde;
}
