body {
	font-size:1em;
    margin:0 auto;
    padding:0;
	text-align: center;
	float: none;
	.background1;
}

#Page 
{
    margin-bottom:2em;
	margin-top:2em;
	display: inline-block;
	border: 1px solid @border;
	height:auto;
	width: 70em;
	text-align: left;
	.background2;
}

#PageContent {
	margin:0 2.5em;
}

.variable, .argument, .result{
	font-family:monospace;
}

#Content h2
{
	font-size:1.5em;
	border-bottom:1px solid;
	margin-top:2.0em;
}

#Content h2 #Object-Type {
	float:right;
	margin-right:1em;
	font-size:inherit;
}

#Content h2 #Object-Name {
	margin-left:1em;
	font-size:inherit;
}

#Content h2 .seperator{
	display: none;
}

sup 
{ 
	vertical-align: top;
	font-size: 0.9em; 
}