.List table {
    border-collapse: collapse;
    border-spacing: 0;
}

.List table, .List caption, .List tbody, .List tfoot, .List thead, .List tr, .List th, .List td
{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.List {
    width:100%;
    border-collapse:collapse;
}

.List .Heading a
{	
	margin-left: 1em;
	font-size:1.0em;
}

.List .Heading td
{
	padding-top:0.5em;
	padding-bottom:0.25em;
}

.List .Row a
{
    outline:none;
    text-decoration:none;
    color:inherit;
    display: block;
	font-size:0.85em;
	padding: 0.75em 1.5em 0.2em 1.5em;
}

.List td
{
	overflow: hidden;
    border-bottom:1px solid black;
    font-size:1.05em;
}

.List .Row:hover {
    .highlight;
}

/* Sortable tables */
table.sortable thead {
    cursor: hand;
	cursor: pointer;
}