<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net40" />
  <package id="dotless" version="1.5.1" targetFramework="net4" />
  <package id="Functional.Maybe" version="1.0.8" targetFramework="net40" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net4" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net4" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="Saxon-HE" version="9.6.0.7" targetFramework="net4" />
  <package id="StyleCop.Analyzers" version="1.0.0-rc3" targetFramework="net40" developmentDependency="true" />
  <package id="Z.ExtensionMethods.WithNamespace" version="2.0.10" targetFramework="net40" />
</packages>