@menuWidth: 20em;

#Menu {
  width: @menuWidth;
  border-right: 1px solid #808080;
  overflow: hidden;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #383D43;
}

#Menu > .contentContainer{
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}